* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 2rem;
    margin: 2rem;
    color: #ffeba7;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem
}

form {
    width: 500px;
    height: 450px;
    background-color: #2a2b38;
    border-radius: 12px;
}

.form-group input {
    display: block !important;
    width: 100%;
}


.input-icon {
    height: 1rem;
    margin-left: 1rem;
    width: 1rem;
    fill: #ffeba7;
    position: absolute !important;
}

.form {
    color: #ccc;
    border-radius: 10px;
}


input {
    padding-top: 10px !important;
    padding-left: 40px !important;
    margin-bottom: 10px;
    align-items: center;
    width: 100%;
    border-radius: 0.5rem;
    border: none !important;
    outline: none;
    background: none !important;
    font-size: 1rem;
    color: #ccc !important;
}

input::placeholder {
    color: #9b9595 !important;
}

.btn {
    padding: 12px;
    margin-top: 15px;
    background-color: #ffeba7;
    color:#2a2b38;
    border-radius: 5px ;
    border: none;
    cursor: pointer;
    margin-left: 13.5rem;
    font-size: 1rem ;
    font-weight: 400;
}



.btn:hover {
    background-color: #15151c;
    color: #ffeba7;
    transition: all 0.2s ease-in-out;
}

p {
    color: #ccc;
    margin-top: 2rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: #ffeba7;
}

.reg-group {
    display: flex;
    margin-top: 2rem;
    align-items: center;
    margin-left: 5rem;
    gap: 0.3rem;
    background-color: #15151c;
    width: 350px;
    border-radius: 10px;
    position: relative;
}

.email-pass {
    display: grid;
    grid-template-columns: repeat(2 , 150px);
    gap: 2rem;
}

.email-pass > .child {
    width: 165px;
    display: flex;
    margin-top: 2rem;
    align-items: center;
    margin-left: 5rem;
    gap: 1rem;
    background-color: #15151c;
    border-radius: 10px;
}

.err-msg {
    /* ... other styles ... */
    animation: shake 0.5s;
    color:  rgb(220,20,60);
    animation-iteration-count: 2;
    list-style-type: none;
    text-align: start;
    font-size: 12px;
    margin-left: 6rem;
}
  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px);
   }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0);  
   }
  }

  .req-header {
    margin-top: 2rem;
}